<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles.css">
  <title>Blog</title>
</head>
<body>
  <nav>
    <a href="/">Início</a>
    <a href="/new">Novo Post</a>
  </nav>
  <main>
